<html ng-app="ContactApp">
<head>
    <meta charset="UTF-8">
    <title>My Contact App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="appConfig.service.js"></script>
    <script src="appname.service.js"></script>
    <script src="contact.controller.js"></script>
    <script src="contactdata.service.js"></script>
</head>
<body>

<div class="container" ng-controller="ContactController as ctrl">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li style="cursor: pointer;" class="list-group-item" ng-repeat="contact in ctrl.contacts"
                    ng-click="ctrl.selectContact($index)">{{contact.name.first + " " +
                    contact.name.last}}
                </li>
            </ul>
            <button ng-click="ctrl.addContact()">Add</button>
        </div>

        <div class="col-md-6">
            <div class="alert alert-success" ng-if="ctrl.successMessage">
                {{ctrl.successMessage}}
            </div>
            <div class="alert alert-danger" ng-if="ctrl.errorMessage">
                {{ctrl.errorMessage}}
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img ng-src="{{ctrl.selectedContact.picture.medium}}"/>
                    </a>
                </div>
                <div class="media-body">
                    <button ng-hide="ctrl.editMode" ng-click="ctrl.toggleEditMode()">Edit</button>
                    <button ng-show="ctrl.editMode" ng-click="ctrl.saveUser()">Save</button>
                    <p>
                        <span>First Name:</span>
                        <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.name.first}}</span>
                        <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.first">
                    </p>
                    <p>
                        <span>Last Name:</span>
                        <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.name.last}}</span>
                        <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.name.last">
                    </p>
                    <div>
                        <p>
                        <h4><b><i>Location</i></b></h4>
                        </p>
                        <p>
                            <span>Street:</span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.street}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.street">
                        </p>
                        <p>
                            <span>City:</span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.city}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.city">
                        </p>
                        <p>
                            <span>State:</span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.location.state}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.location.state">
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>Phone:</span>
                            <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.cell}}</span>
                            <input type="text" ng-show="ctrl.editMode" ng-model="ctrl.selectedContact.cell">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>